@charset "UTF-8";
body,
.link {
  font-family: Roboto, sans-serif;
  text-decoration: none;
  color: #212121;
}

.list {
  list-style-type: none;
}

.text {
  color: #757575;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.button {
  border-radius: 4px;
  border: 1px solid transparent;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Скидати маржин */
.values__heading,
.navigation,
.contacts {
  margin-top: 0;
  margin-bottom: 0;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

/*------------------------------Header------------------------------*/
.header {
  border-bottom: 1px solid #ECECEC;
}

.header__container {
  height: 60px;
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .header__container {
    height: 80px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .header__nav, .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .navigation,
  .contacts {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    margin-left: 88px;
  }
  .navigation__item:not(:last-child) {
    margin-right: 50px;
  }
  .navigation__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .navigation {
    margin-left: 93px;
  }
}

@media screen and (min-width: 768px) {
  .contacts {
    display: inline;
    margin-left: 84px;
    padding: 0;
  }
  .contacts__link {
    font-size: 12px;
    color: #757575;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: auto;
  }
  .contacts__link {
    font-size: 14px;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .contacts__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 50px;
  }
}

@media screen and (min-width: 768px) {
  .navigation__link,
  .contacts__link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navigation__link:hover,
  .navigation__link:focus,
  .contacts__link:hover,
  .contacts__link:focus {
    color: #2196f3;
  }
  .navigation__link {
    position: relative;
    font-size: 14px;
  }
  .navigation__link::after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
  }
  .navigation__link:hover::after {
    opacity: 1;
  }
}

/*------------------------------Header------------------------------*/
@media screen and (min-width: 768px) {
  .navigation__link--current {
    color: #2196f3;
    position: relative;
  }
  .navigation__link--current::after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    opacity: 1;
  }
}

.logo {
  margin-top: 15px;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.logo__part {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .logo {
    margin-top: 0;
    font-size: 24px;
  }
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .footer__logo {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

/* ---------- backdrop--------- */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
}

/* --------------modal------------------ */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  min-width: 450px;
  min-height: 609px;
  padding: 40px;
  background-color: #FFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
  }
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  cursor: pointer;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button__svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  fill: #000000;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover .close-button__svg,
.close-button:focus .close-button__svg {
  fill: #2196f3;
}

.client-form__header {
  margin: 0;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
}

/* --------------form fields---------- */
.field {
  position: relative;
}

.field + .field {
  margin-top: 28px;
}

.field__input {
  height: 40px;
  width: 370px;
  padding: 11px 12px 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .field__input {
    width: 448px;
  }
}

.field__comments {
  resize: none;
  height: 120px;
  width: 370px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.field__comments::-webkit-input-placeholder {
  font-size: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.field__comments:-ms-input-placeholder {
  font-size: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.field__comments::-ms-input-placeholder {
  font-size: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.field__comments::placeholder {
  font-size: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

@media screen and (min-width: 1200px) {
  .field__comments {
    width: 448px;
  }
}

.field__input:hover,
.field__input:focus,
.field__comments:hover,
.field__comments:focus {
  border-color: #2196f3;
}

.field__label {
  position: absolute;
  left: 0px;
  top: 4px;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  display: block;
  height: 14px;
  font-size: 12px;
  line-height: 1.167px;
  letter-spacing: 0.01em;
}

.field__label,
.checkbox__icon {
  color: #757575;
}

/* ------------------Form icons-------------------*/
.field__icon {
  position: absolute;
  top: 11px;
  left: 12px;
  width: 18px;
  height: 18px;
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.field:hover .field__icon,
.field:focus .field__icon {
  fill: #2196f3;
}

/* -----------------checkbox--------- */
.checkbox {
  position: relative;
  margin-top: 20px;
  height: 15px;
}

.checkbox__icon {
  display: inline-block;
  margin-right: 8.38px;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 3px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__icon:hover, .checkbox__icon:focus {
  cursor: pointer;
}

.checkbox__agreement {
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .checkbox {
    height: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-right: 11px;
    height: 24px;
  }
}

.checkbox__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.checkbox__input:checked + .checkbox__icon {
  background-image: url("./check-icon.svg");
  background-color: #2196f3;
  border-color: #2196f3;
  background-repeat: no-repeat;
}

.checkbox__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 1200px) {
  .checkbox__label {
    font-size: 14px;
  }
}

/* -----------------SEND button--------- */
.send-button {
  padding: 0;
  margin-top: 30px;
  margin-left: 85px;
  width: 200px;
  height: 50px;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-button:hover, .send-button:focus {
  background-color: #188ce8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 1200px) {
  .send-button {
    margin-left: 124px;
  }
}

.menu-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
  background-color: #ffffff;
  z-index: 9;
}

.menu-backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.menu-backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  padding: 48px 40px;
  background-color: #FFF;
  z-index: 10;
}

.menu-icon {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #212121;
}

.header__container {
  position: relative;
}

.menu-button {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 12px 8px;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
}

.menu-button:hover, .menu-button:focus {
  cursor: pointer;
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button:hover .menu-icon,
.menu-button:focus .menu-icon {
  fill: currentColor;
}

.menu-close {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  padding: 0;
  cursor: pointer;
  background-color: #ffffff;
  border: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.menu-close__svg {
  fill: #000000;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-nav {
  margin: 0;
  padding: 0;
}

.menu-nav__item {
  min-height: 52px;
}

.menu-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175px;
  text-align: center;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-nav__link:hover, .menu-nav__link:focus {
  color: #2196f3;
}

.menu-contacts {
  margin: 0;
  padding: 0;
}

.tel {
  height: 40 px;
}

.tel-link {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.176;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mail {
  margin-top: 32px;
}

.mail-link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.166;
  letter-spacing: 0.02em;
  color: #757575;
}

.menu-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 357px;
  margin: 64px 0 0 0;
  padding: 0;
}

.menu-socials__link {
  color: #2196f3;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.222;
}

.menu-socials__line {
  color: rgba(33, 33, 33, 0.2);
}

/*------------------------------Main-------------------------*/
/* hero part */
.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  max-width: 768px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("./bckgr.jpg");
  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("./bckgr.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 1200px;
    background-size: cover;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-size: cover;
  }
}

.hero__container {
  width: 360px;
  padding: 0;
}

@media screen and (min-width: 1200px) {
  .hero__container {
    width: 696px;
  }
}

.hero__text {
  margin: 0;
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .hero__text {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 32px;
  min-width: 200px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

@media screen and (min-width: 1200px) {
  .hero__button {
    -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
  }
  .hero__button:hover, .hero__button:focus {
    background-color: #188ce8;
  }
}

/*------------------------values part-------------------*/
.values__list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .values__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .values__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 1170px;
    height: 251px;
  }
}

.values__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: top;
      -ms-flex-pack: top;
          justify-content: top;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.values__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .values__item {
    width: 354px;
  }
  .values__item:nth-child(2n+1) {
    margin-right: 30px;
  }
  .values__item:nth-child(-n+2) {
    margin-bottom: 30px;
  }
  .values__item:nth-child(3) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .values__item {
    width: 270px;
  }
  .values__item:nth-child(2n+1) {
    margin-right: 0;
  }
  .values__item:nth-child(-n+2) {
    margin-bottom: 0;
  }
  .values__item:not(:last-child) {
    margin-right: 30px;
  }
}

.values__part {
  padding-top: 30px;
}

.values__name {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .values__name {
    text-align: start;
  }
}

.values__text {
  margin-top: 10px;
  margin-bottom: 0;
  max-width: 450px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .values__text {
    width: 270px;
  }
}

/*------------------------tasks part-------------------*/
@media screen and (max-width: 1200px) {
  .tasks {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .tasks {
    padding-top: 0;
  }
  .tasks__title {
    margin-top: 0;
    margin-bottom: 0;
  }
  .tasks__text {
    position: absolute;
    top: 224px;
    padding-top: 27px;
    padding-bottom: 27px;
    margin: 0;
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    border: none;
    color: #ffffff;
    background-color: rgba(47, 48, 58, 0.8);
  }
  .tasks-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 50px;
    margin-bottom: 0;
    padding: 0;
  }
  .tasks__item + .tasks__item {
    margin-left: 30px;
  }
  .thumb {
    position: relative;
  }
}

/*-------team part--------*/
.team {
  background-color: #f5f4fa;
}

.team__container {
  padding: 30px 122px 24px 122px;
}

@media screen and (min-width: 768px) {
  .team__container {
    padding: 24px 74px;
  }
}

@media screen and (min-width: 1200px) {
  .team__container {
    padding: 30px 32px;
  }
}

.team__title {
  margin: 0;
  padding-top: 0;
  text-align: center;
  font-size: 28px;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
  }
}

.team__list {
  margin-top: 30px;
  margin-bottom: 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .team__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-top: 50px;
    margin-bottom: 0;
    padding: 0;
    height: 428px;
  }
}

.team__image-container {
  width: 450px;
  height: 460px;
}

.team__image-container img {
  height: 460px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 768px) {
  .team__image-container {
    width: 354px;
    height: 374px;
  }
  .team__image-container img {
    height: 374px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media screen and (min-width: 1200px) {
  .team__image-container {
    width: 270px;
    height: 260px;
  }
  .team__image-container img {
    height: 270px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.member {
  width: 450px;
  height: 622px;
  padding: 0;
  background-color: #ffffff;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.member__name {
  margin: 0px;
  padding: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.member__job {
  margin: 10px 0 0 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
  .member {
    width: 354px;
    height: 536px;
  }
  .member:nth-child(2n+1) {
    margin-right: 30px;
  }
  .member:nth-child(-n+2) {
    margin-bottom: 30px;
  }
  .member:nth-child(n+3) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .member {
    width: 270px;
    height: 428px;
  }
  .member:nth-child(2n+1) {
    margin-right: 0;
  }
  .member:nth-child(-n+2) {
    margin-bottom: 0;
  }
  .member:not(:last-child) {
    margin-right: 30px;
  }
}

/*--------------------companies part-----------------*/
.companies__title {
  margin: 0;
  font-size: 28px;
}

@media screen and (min-width: 1200px) {
  .companies__title {
    font-size: 36px;
  }
}

.companies__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 30px 0 0 0;
}

@media screen and (min-width: 1200px) {
  .companies__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    font-size: 36px;
    margin: 50px 0 0 0;
  }
}

/*------------------------contacts part-------------------*/
@media screen and (min-width: 768px) {
  .contacts__icons {
    margin-right: 8px;
    fill: currentColor;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .contacts__icons {
    margin-right: 10px;
  }
}

/*------------------------values part-------------------*/
.values__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 450px;
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

@media screen and (min-width: 768px) {
  .values__img {
    width: 354px;
    height: 120px;
  }
}

@media screen and (min-width: 1200px) {
  .values__img {
    width: 270px;
  }
}

/*--------------------companies part-----------------*/
.companies__item {
  -ms-flex-preferred-size: 210px;
      flex-basis: 210px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.companies__item:hover, .companies__item:focus {
  border: 1px solid #2196f3;
}

.companies__item:nth-child(2n+1) {
  margin-right: 30px;
}

.companies__item:nth-child(-n+4) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .companies__item {
    -ms-flex-preferred-size: 226px;
        flex-basis: 226px;
  }
  .companies__item:nth-child(n+3) {
    margin-bottom: 0;
  }
  .companies__item:nth-child(3n+3) {
    margin-right: 0;
  }
  .companies__item:not(:nth-child(3n+3)) {
    margin-right: 30px;
  }
  .companies__item:nth-child(-n+3) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .companies__item:not(:nth-child(3n+3)) {
    margin-right: 0;
  }
  .companies__item:nth-child(-n+3) {
    margin-bottom: 0;
  }
  .companies__item:not(:last-child) {
    margin-right: 30px;
  }
}

.companies__link {
  height: 92px;
  color: #AFB1B8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.companies__link:hover, .companies__link:focus {
  color: #2196f3;
}

.companies__icons {
  fill: currentColor;
  width: 106px;
  height: 60px;
}

/*--------------------sociaL media part-----------------*/
.social-media__link {
  padding: 12px;
  border: 0ch;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .social-media__link:hover, .social-media__link:focus {
    background-color: #2196f3;
    color: #ffffff;
  }
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 16px 0 0 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  padding: 0;
}

.social-media__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media__members {
  background-color: transparent;
  color: #AFB1B8;
}

footer .social-media {
  margin-top: 20px;
}

.social-media__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-media__item:not(:last-child) {
  margin-right: 10px;
}

.social-media__svg {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20px;
  height: 20px;
  fill: currentColor;
}

/* --------------------------footer------------------------- */
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer__container {
    padding: 0 89px 0 76px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .footer__container {
    padding: 0 0 0 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.address__list {
  margin-top: 20px;
  margin-bottom: 0;
  padding: 0;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .address__list {
    text-align: start;
  }
}

.address__item {
  margin-top: 8px;
}

@media screen and (min-width: 1200px) {
  .address__item {
    margin-top: 9px;
  }
}

.address__location {
  color: #ffffff;
}

.address__link {
  color: rgba(255, 255, 255, 0.6);
}

.address__link,
.address__location {
  padding: 0;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .address__link,
  .address__location {
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1200px) {
  .address__link:hover,
  .address__link:focus,
  .address__location:hover,
  .address__location:focus {
    color: #2196f3;
  }
}

.socials {
  margin-top: 60px;
}

@media screen and (min-width: 768px) {
  .socials {
    margin-top: 0;
    margin-left: 165px;
  }
}

.socials__heading {
  margin: 0;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .socials__heading {
    text-align: start;
  }
}

@media screen and (min-width: 1200px) {
  .socials {
    margin-top: 15px;
    margin-left: 70px;
    text-align: start;
  }
}

/*-------------------------------------------footer-form----------------------*/
.footer-form {
  margin-top: 60px;
}

@media screen and (min-width: 1200px) {
  .footer-form {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form {
    margin-top: 12px;
    margin-right: 0;
  }
}

.footer-form__heading {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .footer-form__heading {
    margin: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form__heading {
    margin: 0;
    margin-bottom: 20px;
    text-align: start;
  }
}

.sign-form {
  margin-top: 20px;
}

@media screen and (min-width: 1200px) {
  .sign-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.sign-form__input {
  padding: 15px 16px;
  width: 450px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
}

.sign-form__input[placeholder] {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 1200px) {
  .sign-form__input {
    width: 358px;
  }
}

.footer-button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 50px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 28px 10px 29px;
}

.footer-button__icon {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: 13px;
  left: 148px;
  margin-left: 10px;
  width: 24px;
  height: 24px;
  fill: currentColor;
}

@media screen and (min-width: 1200px) {
  .footer-button {
    margin-left: 12px;
    margin-top: 0;
    margin-right: 0;
  }
}

/* --------------------------porfolio page------------------------------ */
/* --------------------------buttons------------------------------ */
.porfolio__heading {
  margin-top: 0;
  margin-bottom: 0;
}

.category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.category__item:not(:last-child) {
  margin-right: 8px;
}

.category__item:nth-child(-n+3) {
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .category {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
  }
}

.category__button {
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 6px 22px;
  height: 38px;
  background-color: #f5f4fa;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.category__button:hover, .category__button:focus {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* --------------------------projects------------------------------ */
.projects {
  padding-left: 0;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.projects__container {
  padding: 20px 24px;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .projects {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .projects {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 34px;
    margin-bottom: 0;
  }
}

.projects__item {
  margin: 0;
  width: 450px;
  height: 404px;
  outline: 1px solid #eeeeee;
  overflow: hidden;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__item:hover, .projects__item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .projects__item {
    width: 354px;
    height: 440px;
  }
  .projects__item:nth-child(2n+1) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .projects__item {
    width: 370px;
    height: 404px;
    margin: 0;
  }
  .projects__item:not(:last-child) {
    margin-bottom: 0;
  }
  .projects__item:nth-child(2n+1) {
    margin-right: 0;
  }
  .projects__item:not(:nth-child(3n+3)) {
    margin-right: 30px;
  }
  .projects__item:nth-child(n+4) {
    margin-top: 30px;
  }
}

.projects__segment {
  margin: 4px 0 0 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.projects__name {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects__img-container {
  position: relative;
  width: 450px;
  height: 294px;
}

.projects__img-container {
  width: 450px;
}

@media screen and (min-width: 768px) {
  .projects__img-container {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .projects__img-container {
    width: 370px;
  }
}

.projects__img-container img {
  width: 450px;
}

@media screen and (min-width: 768px) {
  .projects__img-container img {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .projects__img-container img {
    width: 370px;
  }
}

.overlay {
  position: relative;
  height: 294px;
  width: 450px;
  overflow: hidden;
}

.overlay:hover .projects__description {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

@media screen and (min-width: 768px) {
  .overlay {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .overlay {
    width: 370px;
  }
}

.projects__description {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 77px 24px;
  margin: 0;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .projects__description {
    padding: 49px 24px 77px 24px;
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .projects__description {
    padding: 63px 24px;
    width: 370px;
  }
}
/*# sourceMappingURL=main.css.map */