/* ---------- backdrop--------- */


.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 1;
    background-color: $modal-backdrop;


    &.is-hidden {
        opacity: 0;
        pointer-events: none;
    }

    &.is-hidden .modal {
        transform: translate(-50%, -50%) scale(1.1);
    }
}


/* --------------modal------------------ */

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    min-width: 450px;
    min-height: 609px;
    padding: 40px;

    background-color: #FFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;



    @media screen and (min-width: $desktop) {
        min-width: 528px;
        min-height: 581px;
    }
}



.close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    padding: 0;
    cursor: pointer;
    border-radius: 50%;
    background-color: $white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);


    &__svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        fill: $black;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}



.close-button:hover .close-button__svg,
.close-button:focus .close-button__svg {
    fill: $logo;
}



.client-form {

    // display: flex;
    // flex-direction: column;


    &__header {
        margin: 0;
        margin-bottom: 30px;

        text-align: center;
        font-weight: 700;
        font-size: 20px;
        line-height: 1.15;
        letter-spacing: 0.03em;
    }
}


/* --------------form fields---------- */

.field {
    position: relative;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
}

.field+.field {
    margin-top: 28px;
    
}

.field__input {
    height: 40px;
    width: 370px;
    padding: 11px 12px 11px 42px;
    border: 1px solid $form-text;
    border-radius: 4px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;

        @media screen and (min-width: $desktop) {
                width: 448px;
            }
}



.field__comments {
    resize: none;
    height: 120px;
    width: 370px;
    padding: 12px 16px;

    border: 1px solid $form-text;
    border-radius: 4px;
    cursor: pointer;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


    &::placeholder {
        font-size: 14px;
        letter-spacing: 0.01em;
        color: $placeholder;
    }

    @media screen and (min-width: $desktop) {
        width: 448px;
    }
}


.field__input:hover,
.field__input:focus,
.field__comments:hover,
.field__comments:focus {
    border-color: $logo;
}


.field__label {
    position: absolute;
    left: 0px;
    top: 4px;
    transform: translateY(-100%);
    display: block;
    margin-bottom: 4px;
    height: 14px;

    font-size: 12px;
    line-height: 1.167px;
    letter-spacing: 0.01em;
}


.field__label,
.checkbox__icon {
    color: $text-grey;
}


/* ------------------Form icons-------------------*/


.field__icon {
    position: absolute;
    top: 11px;
    left: 12px;
    width: 18px;
    height: 18px;
    fill: $headers;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.field:hover .field__icon,
.field:focus .field__icon {
    fill: $logo;
}


/* -----------------checkbox--------- */

.checkbox {
    position: relative;
    margin-top: 20px;
    height: 15px;



    &__icon {
        display: inline-block;
        margin-right: 8.38px;
        width: 16px;
        height: 15px;
        border: 2px solid $headers;
        border-radius: 3px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__agreement {
        color: $logo;
    }

        @media screen and (min-width: $desktop) {
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right: 11px;
        height: 24px;
        }
}



.checkbox__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;


    &:checked+.checkbox__icon {
        background-image: url("./check-icon.svg");
        background-color: $logo;
        border-color: $logo;

        background-repeat: no-repeat;
    }
}


.checkbox__label {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0px;
    right: 0px;

    font-size: 12px;

    line-height: 1.714;
    letter-spacing: 0.03em;

            @media screen and (min-width: $desktop) {
             font-size: 14px; 
                }
}



/* -----------------SEND button--------- */


.send-button {
    padding: 0;
    margin-top: 30px;
    margin-left: 85px;
    
    width: 200px;
    height: 50px; 

    background: $logo;
    box-shadow: 0px 4px 4px $shadow;
    border-radius: 4px;
    border: 1px solid transparent;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    color: $white;
    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);


    &:hover,
    &:focus {
        background-color: $hover-button;
        box-shadow: 0px 4px 4px $shadow;
    }


        @media screen and (min-width: $desktop) {
        margin-left: 124px;                       
        }
}