.logo {
    // display: flex;
    // padding: 0;
    // margin-right: 93px;

    margin-top: 15px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    color: $black;

    &__part {
        color: $logo;
    }
}

.footer__logo {
        margin: 0;
        color: $white;
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
    }
    