 $address: rgba(255, 255, 255, 0.6);
 $background: #2f303a;
 $black: #000000;
 $border: #ECECEC;
 $footer-icons: rgba(255, 255, 255, 0.1);
 $form-text: rgba(33, 33, 33, 0.2);
 $grey-background: #f5f4fa;
 $headers: #212121;
 $hidden-titles: #ffffff00;
 $hover-button: #188ce8;
 $icon: #AFB1B8;
 $logo: #2196f3;
 $logo-blue-transparent: rgba(33, 150, 243, 0.9);
 $modal-backdrop: rgba(0, 0, 0, 0.2);
 $placeholder: rgba(117, 117, 117, 0.5);
 $porfolio-background: #eeeeee;
 $shadow: rgba(0, 0, 0, 0.15);
 $tasks-background: rgba(47, 48, 58, 0.8);
 $text-grey: #757575;
 $white: #ffffff;

 